[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal forked SergioRibera emulator for X
Icon=st
Exec=st -A 0.75 -x 6 -s "gruv-dark" -f "mono" -z 13.0 -e tmux
Categories=System;TerminalEmulator
