[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal forked SergioRibera emulator for X
Icon=st
Exec=st
Categories=System;TerminalEmulator
